#IDEs
*.vscode
*.idea

.ipynb_checkpoints
*.ipynb

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# Reserved folders
*data
*logs*
*imgs

# Model files
*.pth

# Secret files
apikey.txt
